body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 100px;
    background: black;
    overflow: hidden;
}
.overflow{
    overflow: visible;
}
header{
    display: flex;
    align-items: center;
    background-color: $secondary;
    color: $colorFontPrimary;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;

    ul{
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: $fontSizeSubTittle;
        gap: 8%;

        li a img{
            height: 100px;
        }
        li a{
            font-family: 'Basillion', sans-serif;
            color: $primary;
        }
    }
    
}
main{
    .galery{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-rows: 350px;
        margin-top: 2vh;
        .galery__containerImg{
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .contact{
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before{
            content: '';
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        h2{
            margin-bottom: 10vh;
            color: $secondary;
            font-size: $fontSizeTittle;
            font-family: 'Basillion', sans-serif;
            z-index: 5;
        }
        .contact__video{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        .contact__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            z-index: 2;
            .contact__input {
                border: none;
                outline: none;
                width: 550px;
                height: 60px;
                padding: 0 50px;
                backdrop-filter: blur(10px);
                background-color: rgba($secondary, 0.1);
                font-size: $fontSizeSubTittle;
                color: $secondary;
            }
        }
    }
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul{
        display: inherit;
        flex-direction: row;
        gap: 50px;
        li a i {
            color: rgba($secondary, 0.7);
            &:hover{
                color: $secondary; 
            }
        }
    }
    span {
        margin:10px 0 ;
    }
}

@media (max-width: 500px) {
    main{
        .galery{
            margin:0;   
        }
    }
}
