@import url('http://fonts.cdnfonts.com/css/geomanist');
@import url('http://fonts.cdnfonts.com/css/basillion');

//colors
$primary: #333333;
$secondary: #ffffff;
$third: blue;
$colorFontPrimary: #333333;
$colorFontSecondary: white;
//fonts size
$fontSizeTittle: 2rem;
$fontSizeSubTittle: 1.5rem;
$fontSizeText: 1rem;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Geomanist', sans-serif;
    color: $primary;
}