*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
//colors
$primary: white;
$secondary: black;
$third: blue;
$colorFontTittle: black;
$colorFontText: white;
//fonts size
$fontSizeTittle: 2rem;
$fontSizeSubTittle: 1.5rem;
$fontSizeText: 1rem;